<ul class="list-group list-group-root">
  <li class="list-group-item list-group-item-action flex-column align-items-start"><strong>Árvore</strong></li>
  <ul class="list-group">
    <li class="list-group-item">Poda de árvore</li>
    <li class="list-group-item">Remoção de árvore</li>
    <li class="list-group-item">Plantio de árvore</li>
    <li class="list-group-item">Denúncia de falta de plantio após remoção de árvore</li>
  </ul>
  <li class="list-group-item list-group-item-action flex-column align-items-start"><strong>Iluminação Pública</strong></li>
  <ul class="list-group">
    <li class="list-group-item">Reclamação de luz intermitente</li>
    <li class="list-group-item">Lâmpada apagada à noite</li>
    <li class="list-group-item">Lâmpada acesa durante o dia</li>
    <li class="list-group-item">Lâmpada obstruída</li>
  </ul>
</ul>
