<div class="list-group list-group-root">
  <li class="list-group-item list-group-item-action justify-content-between">
    <strong>Buraco e pavimentação</strong>
  </li>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action justify-content-between">
      Tapa-buraco
    </li>
    <li class="list-group-item list-group-item-action justify-content-between">
      Pavimentação de ruas não asfaltadas
    </li>
    <li class="list-group-item list-group-item-action justify-content-between">
      Nivelamento de vias de terra
    </li>
    <li class="list-group-item list-group-item-action justify-content-between">
      Recapiamento
    </li>
  </ul>
</div>
