    <div class="border">
    <h4 class="display-4">Nome do município</h4>
    <h6 class="lead">Nome do estado - BR</h6>
    <hr class="afx">
    <dl>
      <dt>Email</dt>
      <dd>email@cidade.gov.br</dd>
      <dt>Telefone</dt>
      <dd>+XX XXXX XXXX</dd>
      <dt>Ofício</dt>
      <dd><span class="badge badge-success">Aprovado</span></dd>
      <dt>Status</dt>
      <dd><span class="badge badge-success">Aprovado</span></dd>
    </dl>   
    </div>
    <hr class="afx">
    <div>
      <h4>Serviços disponíveis atualmente</h4>
      <app-current-city-services-table></app-current-city-services-table>
    </div> 