<h1 class="display-4">Seleção de Serviços</h1>
<p class="lead">Selecione os serviços que deseja disponibilizar em seu município. Os serviços disponíveis pelo sistema estão listados à esquerda
  e os de sua prefeitura estão à direita. </p>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h6>Serviços disponíveis</h6>
      <app-available-services-table></app-available-services-table>
    </div>
    <div class="col-6">
      <h6>Serviços selecionados</h6>
      <app-current-city-services-table></app-current-city-services-table>
    </div>
  </div>
</div>
